<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Outline</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-900 text-white font-sans">
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto">
            <a class="text-green-400 text-2xl font-semibold text-center block" href="{{ url_for('dashboard') }}">
                COGNITEACH
            </a>
        </div>
    </nav>

    <div class="container mx-auto max-w-2xl mt-10 p-6 bg-gray-800 rounded-lg shadow-lg">
        <h1 id="topic" class="text-3xl font-bold text-center mb-4">{{ topica }}</h1>
        <h2 class="text-xl font-semibold text-center mb-6">List of Questions for each class to be based on</h2>
        <ul class="space-y-4">
            {% for element in qs %}
            {% if element %}
            <li class="flex justify-between items-center bg-gray-700 p-4 rounded-lg">
                <p class="flex-1 text-lg">{{ element }}</p>
                <a href="{{ url_for('session', topic=element ,info=info, teacher=teacher) }}">
                    <button class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded">
                        Start from here
                    </button>
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <script>
        function getCookie(name) {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    return cookie.substring(name.length + 1);
                }
            }
            return null;
        }

        var updatesessions = Number(getCookie("lessons")) + 1;
        document.cookie = "lessons=" + updatesessions.toString() + "; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";

        function setCookie(name, data, expires) {
            var jsonData = JSON.stringify(data);
            var cookieString = name + '=' + encodeURIComponent(jsonData) + "; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
            document.cookie = cookieString;
        }

        var topicData = {
            topic: "{{ topica }}",
            subtopics: {{ qs | tojson | safe }},
            teacher: "{{teacher}}"
        };
        setCookie(updatesessions.toString(), topicData, 1000);
    </script>
</body>

</html>

